.bg-color{

    &-blue-dark{
        background-color: $color-blue-dark;
    }
}

.u-small-margin-right{margin-right: 1rem;}

.translate-left{transform: translateX(-0.09rem);}
.translate-right{transform: translate(0.09rem);}